<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение внутреннего курса</title>
      <style type="text/css">
        .named_list {
            font-size: 12pt;
            color: green;
            display: inline-block;
            width: 300px;
            text-align: left;
        }

    </style>
</head>
<body>
<h2 align = center>Введите изменения во внутренний курс банка</h2>
    <div align="center">
        <form action='' method="post">
                <label for="rate_id" class="named_list">Обменный курс из {{rate['currency1']}} в {{rate['currency2']}}: </label>
                <input type="number" step="any" id="rate_id" name="new_rate" value="{{rate['rate']}}">
                <br><br>

            <input type="hidden" name="input_curr1" value="{{rate['currency1']}}">
            <input type="hidden" name="input_curr2" value="{{rate['currency2']}}">

          <button type=submit name=action value="updated_trade">Принять</button>
        </form>


    </div>
</body>
</html>